.meta
  text-align right
  color #777
  font-size 13px

.metaContent
  display inline-block
  margin-left 1rem
  a, time
    vertical-align middle

.metaIcon
  vertical-align middle
  display inline-block
  margin-right .5rem
