{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    ["@babel/preset-stage-2", { "decoratorsLegacy": true }],
    "@babel/preset-react"
  ],
  "plugins": ["add-react-displayname"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
