# Segment write access key
# grab from https://segment.com/
SEGMENT_WRITE_KEY=

# API endpoint
# GitHub API root endpoint
API_BASE=

# Sentry data source name
# grab from https://docs.sentry.io/
SENTRY_DSN=
