.loading
  height 100%
.spinner
  position absolute
  top 50%
  left 50%
  z-index 1
  transform translate(-50%)
  width 12px
  height 20px
  color #999
  animation spin-octicon 2s infinite linear

@keyframes spin-octicon
  0%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)
