@import '../../stylus/media-query'
@import '../../stylus/variables'

.meta
  padding 16px 8px
  text-align right

  @media $mq-large
    padding 32px 16px
    max-width $main-max-width
    margin 0 auto

.hr
  border-top 1px solid #f3f3f3
