@import '../../stylus/media-query'
@import '../../stylus/variables'

.body
  padding 16px 8px
  border-bottom 1px solid #f3f3f3
  @media $mq-large
    padding 32px 16px // @stylint ignore
    max-width $main-max-width
    margin 0 auto
