@import '../../stylus/media-query'
@import '../../stylus/variables'

$main-min-height-buffer = $header-height + $footer-height + $footer-margin-top
$main-min-height = 'calc(100% - %s)' % ($main-min-height-buffer)

.root
  display flex
  justify-content center
.mainContainer
  min-height 100vh
  flex-grow 1
.sidebar
  max-width $sidebar-max-width
  flex-shrink 0
  -webkit-overflow-scrolling touch
  @media $mq-large
    width $sidebar-width
    min-width $sidebar-min-width
.header
  height $header-height
  line-height 1
  background-color #fcfcfc
  border-bottom 1px solid #f3f3f3
  padding 8px
  position relative
  z-index 1
  a
    color inherit
    text-decoration none
    vertical-align middle
    &:hover
      text-decoration none
      color inherit
.toggleButton
  position absolute
  top 0
  right 0
  z-index 1
  button
    width $header-height
    height $header-height
    padding 0
.main
  min-height $main-min-height
  flex-grow 1
  max-width 100%
.footer
  border-top 1px solid #f3f3f3
  height $footer-height
  line-height $footer-height
  text-align center
  margin-top $footer-margin-top
  p
    margin-bottom 0
  small
    vertical-align middle
