@import '../../stylus/media-query';

.header
  // height: 40px
  // line-height: 40px
  background-color: #fcfcfc
  border-bottom: 1px solid #f3f3f3
  padding: 8px
  a
    color: inherit
    text-decoration: none
.root
  &::after
    content ''
    position: absolute
    bottom: 0
    left: 0
    z-index: -1
    background: url(../../images/p.jpg) no-repeat center
    background-size: 100% auto
    width: 320px
    height: 320px
    opacity: .05
    transform: translate(-50%, 30%)
    @media $mq-medium
      width: 480px
      height: 480px
    @media $mq-large
      width: 640px
      height: 640px
.toggleButton
  position: fixed
  top: 0
  right: 0
  z-index: 1
.sidebar
  min-width: 240px
  max-width: 320px
  width: 36%
  background-color: #fcfcfc
  border-left: 1px solid #f3f3f3
  padding: 16px

.footer
  border-top: 1px solid #f3f3f3
  height: 40px
  line-height: 40px
  text-align: center
  small
    vertical-align: middle
