body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .markdown-body
  font-family -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, '游ゴシック体', 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', 'Noto Sans Japanese', sans-serif
