.feed // @stylint ignore
  margin 1em 0
  a
    font-size 13px

.feed-octicon // @stylint ignore
  margin-right .5em

.link
  color inherit
  &:hover
    text-decoration: none
    color inherit
  &:global(.active):hover
    color #fff
