@import '../../stylus/media-query'
@import '../../stylus/variables'

.body // @stylint ignore
  padding 16px 8px
  word-wrap break-word
  overflow-wrap break-word
  img
    border 1px solid #f3f3f3
  ul
  ol
    line-height 2
  li > p
    margin 0
  @media $mq-large
    padding 32px 16px // @stylint ignore
    max-width $main-max-width
    margin 0 auto
