@import '../../stylus/media-query'
@import '../../stylus/variables'

.body // @stylint ignore
  padding 16px 8px
  word-wrap break-word
  overflow-wrap break-word
  a
    word-break break-all
  img
    border 1px solid #f3f3f3
    max-height 768px
  ul
  ol
    line-height 2
  li > p
    margin 0

  pre
    code
      white-space pre-wrap

  @media $mq-large
    padding 32px 16px // @stylint ignore
    max-width $main-max-width
    margin 0 auto
